*,
*::after,
*::before{
    margin:0,
    padding:0,
    box-sizing: border-box;
}

ul{
    list-style: none;
}
bdy {
    font-family: "Lato", sans-serif;
}
ul {
    background: white;
}
.lista-inicial {
    color: green;
}